@import 'foundation/all';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/terminal';

@import 'modules/index';
@import 'modules/person-card';
@import 'modules/contributor-day';
@import 'modules/event-card';
@import 'modules/framework-info';
@import 'modules/videos-list';
@import 'modules/article-card';

body {
  @include body-copy();
}

.content-section {
  margin-top: unit-space(2);
  margin-bottom: unit-space(2);

  h2 {
    margin-bottom: unit-space(2);
  }

  .row {
    margin-bottom: unit-space(2);
  }

  img {
    max-width: 100%;
  }
}
