$tablet-width: 768px;
$desktop-width: 1024px;

// Titles styles
$title-font: 'PT Mono', sans-serif;
$title-size: 18px;
$title-line-height: 21px;

// Body copy
$body-font: 'Karla', sans-serif;
$body-size: 20px;
$body-line-height: 26px;


// Colors
$main-color: #515978;
$alt-color: #dff2f4;
$action-color: #f5655f;

$contrast-color: #CCCCCC;
$text-color: #4d4d4d;
$title-color: $action-color;
