.day-card {
  border-bottom: 2px solid $dark-alt-color;
  box-sizing: border-box;
  color: $main-color;

  header {
    @extend .framework-header;
    h3.title {
      font-size: 20px;
    }
  }

  p {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: unit-space(1);
  }

  footer {
    padding: unit-space(1);
    border-top: 1px solid $dark-alt-color;
    text-align: center;

    .button.action-button {
      margin-right: unit-space(1);
      vertical-align: bottom;
    }
    em {
      display: inline-block;
      font-style: normal;
      max-width: 140px;
      text-align: left;
    }
  }
}
