.app-footer {
  background: $main-color;
  padding: unit-space(4) 0;
  margin-top: unit-space(3);
  color: #fff;

  h3 {
    a {
      @include title-type();
      font-family: $body-font;
      color: #fff;
      text-decoration: none;
      font-size: 24px;
    }
  }
}
.this-dot-dot {
  @include makeLogo('images/this-dot-o.svg', 162px, 158px);
}
.links {
  @include title-type();
  font-family: $body-font;
  border-top: 1px solid #fff;
  margin-top: unit-space(1);
  a {
    text-transform: uppercase;
    color: #fff;
    margin: unit-space(1);
  }
  font-size: 18px;
}
