.app-header {
  background: $alt-color;
  padding: unit-space(2) 0;

  h1 {
    padding-bottom: unit-space(1);
    border-bottom: 2px solid $action-color;
    a {
      @include makeLogo('images/cd-logo.svg', 395px, 100px);
      max-width: 100%;
    }
  }

  .titles {
    p {
      text-transform: uppercase;
      color: $main-color;
    }
  }

  @include desktop() {
    padding: unit-space(4);
    .row {
      align-items: center;
    }
  }

}
