.app-header {
  background: $alt-color;
  padding: unit-space(2) 0;

  h1 {
    padding-bottom: unit-space(1);
    border-bottom: 2px solid $action-color;
    a {
      @include makeLogo('images/cd-logo.svg', 260px, 150px);
      max-width: 100%;
    }
  }

  .titles {
    br {
      display: none;
    }
    @include desktop() {
      br {
        display: block;
      }
    }
  }

  @include desktop() {
    padding: unit-space(4);
    .row {
      align-items: center;
    }
  }

}
