.person-card {
  text-align: left;
  margin-top: unit-space(2);
  font-size: 16px;
  .person-pic {
    border-radius: 0px unit-space(1);
    max-width: 150px;
    overflow: hidden;
    margin: 0 0 unit-space(0.5) 0;
  }
  img {
    width: 100%;
    display: block;
  }
  strong {
    display: block;
    font-size: 18px;
  }
  a {
    color: darken($alt-color, 50);
    border-bottom: 1px solid darken($alt-color, 20);
  }
}
