.terminal-wrap {
  background: #fff;
  padding: unit-space(0.5);
  border-radius: 4px;
  height: 420px;
  overflow-y: scroll;
  position: relative;

  @include desktop() {
    padding: unit-space(1) unit-space(2) unit-space(0.5) unit-space(2);
  }
}

.terminal {
  font-family: $code-font;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  padding-bottom: unit-space(1);

  &.sticky {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 unit-space(2) unit-space(1) unit-space(2);
  }

  p {
    margin: 14px 0;
  }

  a {
    text-decoration: underline;
    color: $text-color;
  }

  ul {
    margin-left: unit-space(1);
  }

  .terminal-command, .terminal-prompt {
    font-weight: bold;
    &:before {
      content: '>';
      color: $action-color;
    }
  }

  .terminal-prompt {
    line-height: 24px;
  }

  .command-input {
    display: inline-block;
    width: 80%;
    font-family: $title-font;;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    border-left: 8px solid rgba($main-color, 0);
    animation: flash-border 5s linear 0s infinite;
    &:focus {
      animation: none;
      border-color: rgba($main-color, 0);
      border-left-width: 1px;
    }
  }

}
