<ol>
  <li>Vision of open source framework / library from authors</li>
  <li>Roundtable conversations about the direction of the framework / library</li>
  <li>Collaborative mini-hack sessions to jumpstart major features or fix major concerns in key projects</li>
  <li>Food, fun, bonding</li>
</ol>
