{{#if verbose}}
  <p>
    Contributor days are one day focused on advancing a specific open source framework / library.
  </p>

  <p>
    Project authors will present their vision for the direction of key projects.
  </p>

  <p>
    20-40 highly active open source contributors will be hand selected to participate in collaborative conversations and partake in mini-hack sessions.
  </p>
{{else}}
  <p>
    Contributor Days grathers active open source contributors to advance a specific framework or library.
  </p>
{{/if}}
