<section class="container content-section">
  {{contributor-day-qna}}
</section>

<section class="container content-section">
  <div class="row contact-row">
    <div class="col-md-12">
      <h2>Contact us</h2>
      <p>
        Have more questions, comments, suggestions, salutations? We’re here to hear you out.
      </p>
      <p>
        Send any question to: <a href="mailto:hi@thisdot.co">hi@thisdot.co</a>
      </p>
    </div>
  </div>
</section>
