<header class="app-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 titles col-md-4">
        <h1>
          {{#link-to 'index'}}Contributors Days{{/link-to}}
        </h1>
        <p>
          Make open source, <br>
          not war.
        </p>
      </div>
      <div class="col-lg-8 push-lg-1 col-md-7">
        <div class="terminal-wrap">
          <div class="terminal">
            <p>
              <strong>Hi! Welcome to Contributors Day introduction.</strong><
            </p>
            <p class="terminal-command">
              help
            </p>
            <p class="terminal-result">
              Available commands: <br>
              <ul>
                <li>help</li>
                <li>what [--verbose]</li>
                <li>why</li>
                <li>agenda</li>
                <li>frameworks</li>
                <li>apply --framework <i>&lt;framework&gt;</i></li>
              </ul>
            </p>
            <div class="terminal-prompt">
              <input type="text" name="name" value="" class="command-input" autocomplete="off">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
