<header class="app-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 titles col-md-4">
        <h1>
          {{#link-to 'index'}}Contributor Days{{/link-to}}
        </h1>
        <p>
          Make open source, <br>
          not war.
        </p>
      </div>
      <div class="col-lg-8 push-lg-1 col-md-7">
        {{terminal-prompt commands=model}}
      </div>
    </div>
  </div>
</header>

{{outlet}}

<section class="container content-section">
  <h2>Questions &amp; Answers</h2>
  <div class="row">
    <div class="col-md-5">
      <h3>Should I apply for contributor days?</h3>
      <p>
        If you are a contributor in open source with an active github profile, please apply! We’d love to meet you if we haven’t already.
      </p>
    </div>
    <div class="col-md-5 push-md-1">
      <h3>What if I’ve contributed but not to the specific projects being highlighted?</h3>
      <p>
        Apply! Part of the Contributor Days mission is to meet new contributors who are already active in the open source ecosystem.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h3>What if I have very little experience in open source?</h3>
      <p>
        If you are a senior developer and know how to contribute to open source projects but a high number of contributions but are looking to become more active, please apply.
      </p>
      <p>
        If you have never contributed to open source projects or are new to web development, this is not the right forum for you, but we’d love to help you get jumpstarted. Send us a note here so we can help.
      </p>
    </div>
    <div class="col-md-5 push-md-1">
      <img src="media/photo-contributors-day.png" alt="" />
    </div>
  </div>
</section>

<section class="container content-section">
  <div class="row contact-row">
    <div class="col-md-5">
      <h2>Sponsors</h2>
      <p>
        Support open source development through Contributor Days.
      </p>
      <p>
        Email us for sponsor info: <a href="mailto:hi@thisdot.co">hi@thisdot.co</a>
      </p>
    </div>
    <div class="col-md-5 push-md-1">
      <h2>Contact us</h2>
      <p>
        Have more questions, comments, suggestions, salutations? We’re here to hear you out.
      </p>
      <p>
        Send any question to: <a href="mailto:hi@thisdot.co">hi@thisdot.co</a>
      </p>
    </div>
  </div>
</section>

<footer class="app-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2 class="this-dot-dot">This Dot</h2>
      </div>
      <nav class="col-md-6">
        <h3 class="links">
          <a href="https://www.thisdot.co/" target="_blank">About <strong>This Dot</strong></a>
        </h3>
        <p>
          We are a framework agnostic agency that believes in enabling teams to become better developers. Focused on working with companies to build ambitious web applications with modern web techniques and strategies.
        </p>
      </nav>
    </div>
  </div>
</footer>
