{{app-header commands=model.commands}}

{{outlet}}

<footer class="app-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2 class="this-dot-dot">This Dot</h2>
      </div>
      <nav class="col-md-8">
        <div class="row">
          <div class="col-md-5">
            <h3><a href="https://www.thisdot.co/media" target="_blank">This Dot Media</a></h3>
            <p>
              Creating stronger communities and breaking down silos in the modern web platform through
              events, videos and articles.
            </p>
          </div>
          <div class="col-md-6">
            <h3><a href="https://www.thisdot.co/labs" target="_blank">This Dot Labs</a></h3>
            <p>
              Modern web application focused consultancy providing mentoring, apprenticeship and technical leadership training.
            </p>
          </div>
        </div>
        <div class="links row">
          <a href="https://www.thisdot.co/about" target="_blank">About This Dot</a>
          <a href="https://www.thisdot.co/contact" target="_blank">Contact This Dot</a>
        </div>
      </nav>
    </div>
  </div>
</footer>
