{{outlet}}
<div class="container about-day">
  <header>
    {{#link-to 'index' class="button go-back"}}&laquo; Home{{/link-to}}
  </header>
  <div class="row">
    <div class="col-md-4 framework-logo">
      <img src="/assets/images/rx-day-logo.svg" alt="" />
    </div>
    <div class="col-md-6">
      <h1>RxJS Contributor Days</h1>
      <p>
        Contributor Days strives to create stronger relationships and focus in the existing community while providing an opportunity for other developers who may not have contributed to the specific project a chance to explore new opportunities.
      </p>
    </div>

    <h2 class="col-md-4">When</h2>
    <p class="col-md-6">
      02/03/2017
    </p>

    <h2 class="col-md-4">Where</h2>
    <p class="col-md-6">
      Silicon Valley
    </p>

    <h2 class="col-md-4">Leads</h2>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4 person-card">
          <div class="person-pic">
            <img src="/media/people/ben-lesh.png" alt="Ben Lesh" />
          </div>
          <strong>
            <a href="https://github.com/blesh" target="_blank">Ben Lesh</a>
          </strong>
          RxJs Lead
        </div>
        <div class="col-md-4 person-card">
          <div class="person-pic">
            <img src="/media/people/paul-taylor.jpeg" alt="Paul Taylor" />
          </div>
          <strong>
            <a href="https://github.com/trxcllnt" target="_blank">Paul Taylor</a>
          </strong>
          RxJs Core Team
        </div>
        <div class="col-md-4 person-card">
          <div class="person-pic">
            <img src="/media/people/jay-phelps.jpg" alt="Jay Phelps" />
          </div>
          <strong>
            <a href="https://github.com/jayphelps" target="_blank">Jay Phelps</a>
          </strong>
          RxJs Core Team
        </div>
      </div>
    </div>

    <h2 class="col-md-4">Agenda</h2>
    <p class="col-md-6">
      <ol>
        <li>Vision of open source framework / library from authors</li>
        <li>Roundtable conversations about the direction of the framework / library</li>
        <li>Collaborative mini-hack sessions to jumpstart major features or fix major concerns in key projects</li>
        <li>Food, fun, bonding</li>
      </ol>
    </p>

    <h2 class="col-md-4">Ready?</h2>
    <p class="col-md-6">
      <a href="https://goo.gl/forms/ZHeeaJmjiJgYH0Vv2" class="button action-button" target="_blank">Apply</a>
    </p>

    <h2 class="col-md-4">Atendees</h2>
    <div class="col-md-6">
      <div class="row">
        {{#each (sort-by 'order' model) as |atendee|}}
          {{person-card person=atendee class="col-md-4"}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
