<section class="container content-section">
  <h2>Upcoming contributor days</h2>
  <div class="row upcoming-days">
    <div class="col-md-4">
      <div class="day-card">
        <em class="rx-day-logo day-logo"></em>
        <h3 class="">Rx Contributor Days</h3>
        <p>
          02/03/2017 <br>
          Silicon Valley
        </p>
        <footer>
          <a href="https://goo.gl/forms/ZHeeaJmjiJgYH0Vv2" class="button action-button" target="_blank">Apply</a>
          {{#link-to 'contributor-day' 'rxjs' class="button"}}+ info{{/link-to}}
        </footer>
      </div>
    </div>
    <div class="col-md-4">
      <div class="day-card">
        <em class="angular-day-logo day-logo"></em>
        <h3>Angular Contributor Days</h3>
        <p>
          04/08/2017 <br>
          Salt Lake City
        </p>
        <footer>
          <a href="https://goo.gl/forms/7A8UgHlLCk8eomSx2" class="button action-button" target="_blank">Apply</a>
          {{#link-to 'contributor-day' 'angular' class="button"}}+ info{{/link-to}}
        </footer>
      </div>
    </div>
    <div class="col-md-4">
      <div class="day-card">
        <em class="react-day-logo day-logo"></em>
        <h3 class="">React Contributor Days</h3>
        <p>
          06/16/2017 <br>
          Silicon Valley
        </p>
        <footer>
          <a href="https://goo.gl/forms/3YbuBqtVmqH7sLiB3" class="button action-button" target="_blank">Apply</a>
          <em>More info coming soon.</em>
        </footer>
      </div>
    </div>
  </div>
</section>
