<section class="container content-section">
  <h2>Upcoming contributors days</h2>
  <div class="row upcoming-days">
    <div class="col-md-4">
      <div class="day-card">
        <em class="rx-day-logo day-logo"></em>
        <h3 class="">Rx Contributors Day</h3>
        <p>
          02/03/2017 <br>
          Sillicon Valley
        </p>
        <footer>
          <a href="#" class="button action-button">Apply</a>
          <a href="#" class="button">+ info</a>
        </footer>
      </div>
    </div>
    <div class="col-md-4">
      <div class="day-card">
        <em class="angular-day-logo day-logo"></em>
        <h3 class="">Angular Contributors Day</h3>
        <p>
          03/10/2017 <br>
          Sillicon Valley
        </p>
        <footer>
          <a href="#" class="button action-button">Apply</a>
          <a href="#" class="button">+ info</a>
        </footer>
      </div>
    </div>
    <div class="col-md-4">
      <div class="day-card">
        <em class="react-day-logo day-logo"></em>
        <h3 class="">React Contributors Day</h3>
        <p>
          06/16/2017 <br>
          Sillicon Valley
        </p>
        <footer>
          <a href="#" class="button action-button">Apply</a>
          <a href="#" class="button">+ info</a>
        </footer>
      </div>
    </div>
  </div>
</section>
