<section class="container content-section">
  <h2>Upcoming contributor days</h2>
  <div class="row upcoming-days">
    {{#each model.events as |event|}}
      {{event-card event=event class="col-md-4"}}
    {{/each}}
  </div>
</section>
