<section class="container content-section">
  <h2>Upcoming contributors days</h2>
  <div class="row upcoming-days">
    <div class="col-md-4">
      <div class="day-card">
        <em class="rx-day-logo day-logo"></em>
        <h3 class="">Rx Contributors Day</h3>
        <p>
          02/03/2017 <br>
          Sillicon Valley
        </p>
        <footer>
          <a href="https://goo.gl/forms/ZHeeaJmjiJgYH0Vv2" class="button action-button" target="_blank">Apply</a>
          {{#link-to 'contributor-day' 'rxjs' class="button"}}+ info{{/link-to}}
        </footer>
      </div>
    </div>
    <div class="col-md-4">
      <div class="day-card">
        <em class="angular-day-logo day-logo"></em>
        <h3>Angular Contributors Day</h3>
        <p>
          03/10/2017 <br>
          Sillicon Valley
        </p>
        <footer>
          <a href="https://goo.gl/forms/7A8UgHlLCk8eomSx2" class="button action-button" target="_blank">Apply</a>
          <em>More info coming soon.</em>
        </footer>
      </div>
    </div>
    <div class="col-md-4">
      <div class="day-card">
        <em class="react-day-logo day-logo"></em>
        <h3 class="">React Contributors Day</h3>
        <p>
          06/16/2017 <br>
          Sillicon Valley
        </p>
        <footer>
          <a href="#" class="button action-button">Apply</a>
          <em>More info coming soon.</em>
        </footer>
      </div>
    </div>
  </div>
</section>

<section class="container content-section">
  <h2>Questions &amp; Answers</h2>
  <div class="row">
    <div class="col-md-5">
      <h3>Should I apply for contributor days?</h3>
      <p>
        If you are a contributor in open source with an active github profile, please apply! We’d love to meet you if we haven’t already.
      </p>
    </div>
    <div class="col-md-5 push-md-1">
      <h3>What if I’ve contributed but not to the specific projects being highlighted?</h3>
      <p>
        Apply! Part of the Contributor Days mission is to meet new contributors who are already active in the open source ecosystem.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h3>What if I have very little experience in open source?</h3>
      <p>
        If you are a senior developer and know how to contribute to open source projects but a high number of contributions but are looking to become more active, please apply.
      </p>
      <p>
        If you have never contributed to open source projects or are new to web development, this is not the right forum for you, but we’d love to help you get jumpstarted. Send us a note here so we can help.
      </p>
    </div>
    <div class="col-md-5 push-md-1">
      <img src="media/photo-contributors-day.png" alt="" />
    </div>
  </div>
</section>
