<section class="container content-section">
  <div class="row upcoming-days">
    {{#each (sort-by 'date:desc' model.events) as |event|}}
      {{event-card event=event}}
    {{/each}}
  </div>

  <h2>
    Updates
  </h2>

  <div class="row">
    {{#each (slice 0 3 (sort-by 'date:desc' model.posts)) as |post|}}
      {{article-card post=post class="col-lg-4" showSummary=true}}
    {{/each}}
  </div>
</section>
