<section class="container content-section">
  <headers>
    <h2>Sponsors</h2>
  </headers>
  <div class="row contact-row">
    <div class="col-md-12">
      {{{model.body}}}
    </div>
  </div>
</section>
