<section class="container updates-container">
  <header>
    <h2>Updates</h2>
  </header>
  <div class="row">
    {{#href-scroller}}
      {{#let (sort-by 'date:desc' model) as |posts|}}
        {{#each posts as |post|}}
          {{article-card post=post class="col-lg-12"}}
        {{/each}}
      {{/let}}
    {{/href-scroller}}
  </div>
</section>